.common {
    text-align: center;
    padding: 20px;
}

nav {
    padding: 20px;
}
nav div {
    border: 1px solid black;
}
nav.horizontal div {
    width: 50px;
    height: 100px;
}
nav.vertical div {
    width: 500px;
}

main {
    width: 500px;
}
main div {
    border: 2px solid green;
}
main.horizontal div {
    position: absolute;
    top: 21px;
    left: 130px;
    width: 400px;
}
main.vertical div {
    width: 500px;
    margin-left: 20px;
}

footer {
    padding: 20px;
}
footer div {
    border: 1px solid black;
}
footer.horizontal div {
    width: 515px;
}

footer.vertical div {
    width: 504px;
}

.dark-theme {
    background-color: black;
    color: whitesmoke;
}
.light-theme {
    background-color: whitesmoke;
    color: #333333;
}
.pink-theme {
    background-color: pink;
    color: black;
}
.blue-theme {
    background-color: steelblue;
    color: white;
}
