body {
    background-color: cadetblue;
}
.content {
    margin: auto;
    width: 500px;
}
.form {
    background-color: gray;
    padding: 10px;
    width: 250px;
}
button {
    background-color: black;
    color: whitesmoke;
}
.animal {
    width: 250px;
    background-color: blanchedalmond;
    font-size: large;
    padding: 10px;
}
