body {
    background-color: lightslategrey;
}

.heading {
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
}

.content {
    background-color: whitesmoke;
    margin: auto;
    width: 700px;
}

.layout {
    display: grid;
    grid-template-areas: 'a a a';
    grid-auto-columns: 200px;
    gap: 25px;
}

.common {
    border: 3px solid pink;
    padding: 20px;
}

.form-input {
    padding: 5px;
}

form {
    border: 1px solid black;
    padding: 10px;
}

textarea {
    resize: none;
    overflow: hidden;
    /*
    border: 0px none;
    */
    height: 40px;
    width: 170px;
}

input[name="title"] {
    width: 170px;
}

img {
    width: 75%;
    height: auto;
}

.delete-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
