textarea {
    resize: none;
    overflow: hidden;
    /*
    border: 0px none;
    */
    height: 40px;
    width: 400px;
}

img {
    width: 20%;
    height: auto;
}

form {
    padding: 20px;
}

.common {
    border: 1px solid black;
}