.common {
    text-align: center;
    padding: 20px;
}


nav {
    padding: 20px;
}
nav div {
    border: 1px solid black;
}
nav.horizontal div {
    width: 50px;
    height: 100px;
    /*
    display: inline;
    */
}
nav.vertical div {
    width: 600px;
    /*
    display: block;
    */
}

main {
    width: 500px;
}

/*
main {
    background-color: whitesmoke;
    border: 1px solid red;
    padding: 30px;
}
*/

main div {
    border: 2px solid green;
    /*
    height: 360px;
    */
}

main.horizontal div {
    position: absolute;
    top: 50px;
    left: 150px;
    width: 400px;
}

main.vertical div {
    width: 400px;
}


footer {
    padding: 20px;
}
footer div {
    border: 1px solid black;
}
footer.horizontal div {


}


.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}
.light-theme {
    background-color: whitesmoke;
    color: #333333;
}
.pink-theme {
    background-color: pink;
    color: black;
}
.blue-theme {
    background-color: steelblue;
    color: white;
}
