.container {
    background-color: whitesmoke;
    width: 680px;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
}

.navbar {
    text-align: center;
    width: 400px;
    padding: 10px;
    margin: auto;
}

.navlink {
    padding: 10px;
    margin: 10px;
}

h2 {
    text-align: center;
}

.work_experience {
    width: 650px;
    display: grid;
    grid-template-areas: 'a a a';
    grid-auto-columns: 210px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: auto;
}
